@media only screen and (max-width: 749px) {
  .temp {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 100;
  }

  .searchBarTemp {
    font-size: 144px;
    font-weight: 500;
  }

  .weatherDescription {
    color: #a09fb1;
    font-weight: 600;
    font-size: 36px;
    margin: 15px;
  }

  .searchBarDay {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #88869d;
    font-size: 18px;
    font-weight: 500;
  }

  .location {
    margin-top: 20px;
    color: #88869d;
    font-size: 18px;
    font-weight: 500;
  }

  .location :first-child {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.img {
  width: 150px;
}

.temp {
  font-size: 48px;
  font-weight: 100;
}

.searchBarTemp {
  font-size: 144px;
  font-weight: 500;
}

.weatherDescription {
  color: #a09fb1;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

.searchBarDay {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  color: #88869d;
  font-size: 18px;
  font-weight: 500;
}

.location {
  margin-top: 20px;
  color: #88869d;
  font-size: 18px;
  font-weight: 500;
}

.location :first-child {
  margin-right: 5px;
  vertical-align: middle;
}
