@media only screen and (max-width: 749px) {
  .dailyForecast {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .forecastCard {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .dailyForecast {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .forecastCard {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1001px) {
  .dailyForecast {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.forecastCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 170px;
  background-color: #1e213a;
}

.forecastCard img {
  width: 62px;
  height: 62px;
  margin-bottom: 30px;
}

.forecastCard span {
  margin: 10px;
}
