@media only screen and (max-width: 749px) {
  .searchModal {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #1e213a;
    z-index: 3;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .searchModal {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 40%;
    height: auto;
    position: fixed;
    background-color: #1e213a;
    z-index: 3;
  }
}

@media only screen and (min-width: 1001px) {
  .searchModal {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 25%;
    height: auto;
    position: fixed;
    background-color: #1e213a;
    z-index: 3;
  }
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}

.closeBtn button {
  color: #e7e7eb;
  background-color: transparent;
  border: none;
}
