.searchModalBtn {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 38px;
}

.input {
  width: 70%;
  height: 48px;
  background-color: transparent;
  border: 1px solid #e7e7eb;
  color: #e7e7eb;
  padding: 10px;
}

.searchModalBtn button {
  width: 25%;
  height: 48px;
  background-color: #3c47e9;
  color: #e7e7eb;
  border: none;
  font-size: 16px;
}
