@media only screen and (max-width: 749px) {
  .forecastCard {
    margin-bottom: 25px;
  }
}
.forecastCard {
  width: 120px;
  height: 170px;
  background-color: #1e213a;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.forecastCard img {
  width: 62px;
  margin-bottom: 35px;
}

.forecastCard span {
  margin: 10px;
}
