.searchBar {
  display: flex;
  width: 25%;
  height: auto;
  background-color: #1e213a;
  @media (max-width: 1024px) {
    width: 35%;
  }
  @media (max-width: 749px) {
    width: 100%;
  }

  .cloudBackground {
    position: absolute;
    top: 8%;
    width: 85%;
    height: 85%;
    background-image: url(../assets/Cloud-background.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -50px 0;
    opacity: 0.1;
    z-index: 1;
    @media (max-width: 1024px) {
      background-size: 50%;
      background-position: -30px 0;
    }
    @media (max-width: 749px) {
      width: 100%;
      background-size: 100%;
      background-position: -20px 0;
    }
  }
  .searchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #e7e7eb;
    margin-top: 32px;
    @media (max-width: 749px) {
      padding-bottom: 30px;
    }
  }
}
