@media only screen and (max-width: 749px) {
  .humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 750px) {
  .humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
  }
}

.humidity p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 22px;
}

.humidity h1 {
  margin-top: 6px;
  font-weight: 400;
  font-size: 36px;
}

.windSpeed {
  font-size: 64px;
  font-weight: 700;
}

.percentage {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.percentageSign {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.humidity progress {
  width: 70%;
  appearance: none;
}

::-webkit-progress-bar {
  height: 10px;
  border-radius: 20px;
  background-color: #e7e7eb;
}

::-webkit-progress-value {
  height: 10px;
  border-radius: 20px;
  background-color: #ffec65;
}
